* {
    box-sizing: border-box;
    /* Reiniciamos margin y padding en * para evitar que cuando el navegador renderice elementos les otorge valores por defecto.*/
    margin: 0;
    padding: 0;
}
html {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    /* Con el font-size en 62.5% se controlan los cambios de pixeles que pueden generar diferentes pantallas.*/
    font-size: 62.5%;
}
header {
    position: relative;
    top: 6rem;
    text-align: center;
}
header h1 {
    font-size: 3rem;
    line-height: 5rem;
}
header h3 {
    font-size: 1.5rem;
}
.game-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}
.game-zone--player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.game-zone li {
    list-style-type: none;
}
.game-zone img {
    width: 100px;
    height: 100px;
    opacity: .8;
    cursor: pointer;
    transition: .2s transform;

} 
.game-zone img:hover {
    opacity: 1;
    transform: scale(1.1);
} 
.game-zone .vs {
    font-size: 4rem;
    font-weight: bold;
}
.game-zone--com .com {
    width: 100px;
    height: 100px;
    animation: .7s random infinite;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@keyframes random {
    0%{
		background: url(../img/rock.png);
	}
	33%{
		background: url(../img/paper.png);
	}
	66%{
		background: url(../img/scisor.png);
	}
	100%{
		background: url(../img/rock.png);
	}
}